export(
"changeNames",
"doby.xtabs",
"dose.LD50",
"esticon",
"esticon.geeglm",
"esticon.glm",
"esticon.lm",
"esticon.lme",
"esticon.lmer",
"orderBy",
"recodevar",
"sampleBy",
"splitBy",
"subsetBy",
"summaryBy",
"transformBy",
"lapplyBy"
)
